* {
    --header-font: 'Limelight', cursive;
    --body-font: 'Poiret One', cursive;
    --background: black;
    --accent-colour: #FFD700;
}

body {
    background-color: var(--background);
    font-size: 17px;
    line-height: 1.7em;
    background-image: url("../images/top-left.svg"), url("../images/top-right.svg");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 25%;
    background-position: top left, top right;

}

h1, h2 {
    font-weight: normal;
    font-family: var(--header-font);
    color: var(--accent-colour);
    text-align: center;
    line-height: 200%;    
}

/*div {*/
    /* margin: 2em auto; */
/*    padding: 2em 2.5em;
}*/
/* 
.deco { 
  border: 6px solid;
  border-color: var(--accent-colour);
  position: relative;
  padding: 20px;
}

.deco:before, .deco:after {
  border: 3px solid;
  border-color: var(--accent-colour);
  content: ""; 
  position: absolute;  
  border-color: var(--accent-colour);
}

.deco:before {
  top: -15px;
  right: 6px;
  bottom: -15px;
  left: 6px;
}

.deco:after {
  top: 6px;
  right: -15px;
  bottom: 6px;
  left: -15px;
} */

p {
    font-family: var(--body-font);
    color: var(--accent-colour);
}

main {
  background-image: url("../images/bottom-right.svg"), url("../images/bottom-left.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 25%;
  background-position: bottom right, bottom left;
}

.card-text {
  font-size: 80%;
}

/* add the message display none initially */
#error {
  /*display:none;*/
  color: #990000;
}

section#details {
  display: none;
}

/* 
#header {
  background: linear-gradient(0.25turn, #3f87a6, #f69d3c);
} */

#poster {
  width: 100%;  
  display:none;
}

#map {
  height: 400px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
}

#poster-button {
  height: 100%;
  padding: 0;
}

#poster-button:hover {
  opacity: 0.8;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease-in-out;
  font-size: 12px;
  content: attr(alt);
  visibility: visible;
}

#player {
  /*background: url('../images/screen.jpg') no-repeat center center fixed;*/
  background-color: var(--background);
  font-size: 17px;
  line-height: 1.7em;
  background-image: url("../images/top-left.svg"), url("../images/top-right.svg");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 25%;
  background-position: top left, top right;

  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  width: 100%;   /* Adjust as per the size of your background image */
  height: 100%;  /* Adjust as per the size of your background image */
  box-sizing: border-box; /* To ensure padding doesn't add to the total width/height */
  
}
#player iframe {
  width: 100%;
  height: 90%;
  padding-top: 10%;
  padding-left: 10%;
  padding-right:8%;
  padding-bottom: calc(90% * (6.5% / 100));
}


#history {
  list-style: none;
}

.bg-white {
  background-color: rgba(555,555,555,0.5);
}

#myWatchList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#listPoster {
  transition: 0.5s;
}

#listPoster:hover {
  opacity: 0.7;
  cursor: pointer;
}

dialog {
  border: none;
  border-radius: 0.2rem;
  line-height: 2;
  
  width: 40%;
  padding: 1rem;
  transition: 1s;
}

dialog::backdrop {
  background-color: #252525a8;
}

#filmCard {
  position: relative;
}

#removeBtn {
  position: absolute;
  top: 5%;
  right: 80%;
  font-size: 1.5rem;
  border: none;
  background: none;
  width: 15%;
  transition: 0.15s;
}

#removeBtn:hover {
  color: #e00909;
}

#faveBtn {
  position: absolute;
  top: 5%;
  left: 76%;
  font-size: 1.5rem;
  border: none;
  background: none;
  width: 15%;
  transition: 0.15s;
}

#faveBtn:hover {
  color: #f5d106;
}

#myWatchList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#listPoster {
  transition: 0.5s;
}

#listPoster:hover {
  opacity: 0.7;
  cursor: pointer;
}

dialog {
  border: none;
  border-radius: 0.2rem;
  line-height: 2;
  
  width: 40%;
  padding: 1rem;
  transition: 1s;
}

dialog::backdrop {
  background-color: #252525a8;
}

#filmCard {
  position: relative;
}

#removeBtn {
  position: absolute;
  top: 5%;
  right: 80%;
  font-size: 1.5rem;
  border: none;
  background: none;
  width: 15%;
  transition: 0.15s;
}

#removeBtn:hover {
  color: #e00909;
}

#faveBtn {
  position: absolute;
  top: 5%;
  left: 76%;
  font-size: 1.5rem;
  border: none;
  background: none;
  width: 15%;
  transition: 0.15s;
}

#faveBtn:hover {
  color: #f5d106;
}

.hot {
  padding:0;
}

.histBtn {
  background-color: darkslategrey;
  border: 1rem;
  border-radius: 0.4rem;
  transition: 0.15s;
  cursor: pointer;
  color: #f5d106;;
}

.histBtn:hover {
  background-color: cadetblue;
}
